.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.bar-title {
  width: 110px;
  text-align: right;
  margin-right: 2%;
  vertical-align: middle;
}

.bar-progress {
  height: 40px;
}

@media screen and (max-width: 600px) {
  .bar {
    flex-direction: column;
  }

  .bar-title {
    text-align: left;
  }

  .bar-progress {
    height: 20px;
  }
}
