.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 20px;
  margin-bottom: 4%;
}

.update-button {
  cursor: pointer;
}
